html body {
    height: 100%;   
    background-image: url(/images/Mask\ Group\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    display: inline-block;
   width: 100%;
  
   
}
.menuitem   {
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
    color: #8E8E8E;
    font-size: 18px;  
    
}
.logo {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}
nav ul {
    float: right;
}
ul {
    margin-right: 20px;
}
h1 {
    font-size: 65px;
    color: #211D1D;
    text-align: center;
    margin-top: 80px;
    font-style: bold;
}
.liltext {
    text-align: center;
    color: #211D1D;
    font-size: 18px;
    margin-top: 10px;
}
.moneyback {
    color: #32BBA4;
}
main {
    display: inline-block;
}
.Starter_plan {
    display: table-cell;
    width: 364px;
    height: 350px;
   
    margin-top: 200px;
    margin-left: 60px;
    text-align: center;
}
h2 {
 font-size: 25px ;
 margin-top: 10px;
}
.mainprice {
    font-size: 36px;
    color: #211D1D;
    margin-top: 10px;

}
.billed {
    font-size: 14px;
    color: #A1A1A1;
}
.startindexing1 {
    width: 150px;
    height: 40px;
    background-color: #410FF8;
    color: white;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    border: solid black 1px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 150px;
}
.maintext_normal {
    margin-top: 10px;
    font-style: italic;
    font-size: 20px;
}
.Advanced_plan {
    display: table-cell;
    width: 364px;
    height: 350px;
    
    
    margin-left: 60px;
    text-align: center;
    
}
.Pro_plan {
    display: table-cell ;
    width: 364px;
    height: 350px;
    
    margin-top: 200px;
    margin-left: 60px;
    text-align: center;

}
main {
    float: left;
    display: table;
    width: 100%;
    margin-top: 80px;
    
}
.menuitem:hover {
    color: black;
}

.startindexing1:hover {
    background-color: black;
    color: red;
}
a {
    text-decoration: none;
}
.container {
    padding: 16px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  .discount {
      text-align: center;
      font-size: 20px;
      margin-top: 10px;
      color: gray;
  }
  hr {
      
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .terms {
      text-align: center;
      font-size: 20px;
  }
  .button {
      margin-left: 600px;
      text-align: center;
      padding: 20px;
      margin-top: 10px;
      background-color: rgb(255, 255, 255);
      border-radius: 20px;
      padding-left: 60px;
      padding-right: 60px;
  }
  .button:hover {
      background-color: black;
      color: white;
  }